<!--Mi lista aqui va -->
  <h2>Lista de Movies:</h2>
  <ul>
    <li *ngFor="let movie of peliculas">
      <h2 (click)="movieClicked(movie)"> {{ movie.title }} - {{ movie.year }} </h2>
    </li>
  </ul>



Title <input type="text" [(ngModel)]="selectionMovie.title"><br>
desc <input type="text" [(ngModel)]="selectionMovie.desc"><br>
year <input type="number" [(ngModel)]="selectionMovie.year"><br>

<button (click)="UpdateMovie()"> PUT </button>
<button (click)="CreateMovie()"> CREATE </button>
<button (click)="DeleteMovie()"> DELETE </button>